@font-face {
  font-family: "Inter";
  src: url("../fonts/InterVariableFont.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

select {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem 1.5rem 0.875rem;
  background: #fff;
  border-radius: 20px;
  font-size: 1rem;
  color: #000;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #f00;
  color: #fff;
}
@media screen and (max-width: 767.98px) {
  .btn {
    padding: 0.375rem 1.3125rem;
    font-size: 0.75rem;
  }
}

.up {
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem;
  display: none;
  z-index: 1000;
}
.up.sticky {
  display: block;
}

.cart-fixed {
  position: fixed;
  right: 7.1875rem;
  bottom: 3.125rem;
  display: none;
  font-size: 1.25rem;
  transition: all 0.3s ease;
  color: #fff;
  z-index: 1000;
}
.cart-fixed.sticky {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.form-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-item label {
  flex: 1;
  padding-left: 0.75rem;
  font-size: 1.25rem;
}
.form-item input {
  width: 100%;
  padding: 0.625rem 1rem;
  border: 1px solid #9d9d9d;
  border-radius: 20px;
  background: #fff;
  font-size: 0.75rem;
}
.form-item input::-webkit-input-placeholder {
  font-size: 0.75rem;
  color: #b9b9b9;
}
.form-item input:-ms-input-placeholder {
  font-size: 0.75rem;
  color: #b9b9b9;
}
.form-item input::-ms-input-placeholder {
  font-size: 0.75rem;
  color: #b9b9b9;
}
.form-item input::placeholder {
  font-size: 0.75rem;
  color: #b9b9b9;
}
@media screen and (max-width: 767.98px) {
  .form-item input {
    font-size: 0.6875rem;
  }
  .form-item input::-webkit-input-placeholder {
    font-size: 0.6875rem;
  }
  .form-item input:-ms-input-placeholder {
    font-size: 0.6875rem;
  }
  .form-item input::-ms-input-placeholder {
    font-size: 0.6875rem;
  }
  .form-item input::placeholder {
    font-size: 0.6875rem;
  }
}
.form-item.error input {
  border-color: #f00;
}
.form-item__error {
  flex: 1;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #f00;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .form-item__error {
    font-size: 0.625rem;
  }
}
.form button {
  -ms-grid-row-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 17.125rem;
  padding: 0.8125rem 1.9375rem 0.75rem;
  background: #000;
  border-radius: 20px;
  font-size: 1.25rem;
  line-height: 1;
  color: #fff;
  transition: all 0.3s ease;
}
.form button:hover {
  background: #f00;
  color: #fff;
}
@media screen and (max-width: 767.98px) {
  .form button {
    min-width: 11.375rem;
    padding: 0.6875rem 1.875rem 0.75rem;
    font-size: 0.8125rem;
  }
}
@media screen and (max-width: 767.98px) {
  .form-item {
    gap: 0.125rem;
  }
  .form-item label {
    font-size: 0.875rem;
  }
}

.d-none {
  display: none !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 17.125rem;
  padding: 0.8125rem 1.9375rem 0.75rem;
  background: #000;
  border-radius: 20px;
  font-size: 1.25rem;
  line-height: 1;
  color: #fff;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #f00;
  color: #fff;
}
@media screen and (max-width: 767.98px) {
  .btn {
    min-width: 11.375rem;
    padding: 0.6875rem 1.875rem 0.75rem;
    font-size: 0.8125rem;
  }
}

.container {
  max-width: 85.625rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  padding: 1.5625rem 0;
  border-radius: 0 0 20px 20px;
  background: #fff;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header__item {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}
.header__item:last-child {
  margin-right: 2.5rem;
}
.header__item:hover {
  color: #f00;
}
.header__item:hover svg path {
  stroke: #f00;
}
.header__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-right: 0.5rem;
  padding: 0.375rem 2.75rem;
  background-color: #000;
  border-radius: 20px;
  font-size: 2.25rem;
  line-height: 0.9;
  color: #fff;
}
.header__lang {
  flex: 1;
}
.header__burger {
  all: unset;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  width: 1.125rem;
  cursor: pointer;
  z-index: 120;
}
.header__burger span {
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #000;
  transition: all 0.3s ease;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.header__mobile {
  display: none;
}
.header.active {
  position: relative;
}
.header.active .header__burger span:first-child {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
.header.active .header__burger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.header.active .header__burger span:last-child {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
.header.active .header__mobile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
  height: 100dvh;
  padding: 3.75rem 2.375rem 3.125rem;
  border-radius: 0px 20px 20px 0px;
  background: #fff;
  z-index: 100;
}
.header.active .header__mobile a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8125rem 1.25rem 0.75rem;
  border-radius: 20px;
  background-color: #000;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}
.header.active .header__mobile ul {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0.9375rem 0;
  padding: 1.5rem 0;
  border-top: 1px solid #b8bdbf;
  border-bottom: 1px solid #b8bdbf;
}
.header.active .header__mobile__contact {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.header.active .header__mobile__contact a {
  padding: 0;
  background: transparent;
  font-size: 1rem;
  color: #000;
}
@media screen and (max-width: 991.98px) {
  .header {
    padding: 0.9375rem 0;
  }
  .header .container {
    gap: 1.5625rem;
  }
  .header__item {
    font-size: 1rem;
  }
  .header__item:last-child {
    margin-right: 0;
  }
  .header__logo a {
    padding: 0.375rem 1.875rem;
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 767.98px) {
  .header .container {
    gap: 1.25rem;
  }
  .header__item p {
    display: none;
  }
  .header__item:last-child {
    margin-right: 0;
  }
  .header__lang {
    display: none;
  }
  .header__logo {
    flex: 1;
  }
  .header__logo a {
    margin: 0 auto;
    padding: 0.25rem 1.25rem;
    font-size: 1.25rem;
  }
  .header__logo a p {
    display: block;
  }
  .header__profile {
    margin-left: auto;
  }
  .header__burger {
    display: flex;
  }
}

.footer {
  padding: 1.25rem 0 1.875rem;
  border-radius: 20px 20px 0 0;
  background: #fff;
}
@media screen and (max-width: 767.98px) {
  .footer {
    padding: 1.25rem 0 1.125rem;
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.25rem;
  padding: 0 1.875rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  font-size: 1.5rem;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  font-size: 2rem;
}
.footer__info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
@media screen and (max-width: 767.98px) {
  .footer__info__block {
    font-size: 1rem;
  }
}
.footer__info__address {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 0.3125rem;
  font-size: 0.8125rem;
}
.footer__info__address p:not(:last-child) {
  position: relative;
}
.footer__info__address p:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 3px;
  height: 100%;
  background: #000;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__social a {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 767.98px) {
  .footer {
    padding: 1.25rem 0 1.875rem;
  }
  .footer .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
    padding: 0 0.9375rem;
  }
  .footer__links {
    display: none;
  }
  .footer__info {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.25rem;
  }
  .footer__info__address {
    flex: 1;
    flex-direction: column;
    gap: 0.3125rem;
    margin-top: 0;
    text-align: right;
  }
  .footer__info__address p:not(:last-child):after {
    display: none;
  }
  .footer__social {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after {
  display: none;
}

.signup {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 1.5625rem 0 0.625rem;
}
.signup__form {
  display: flex;
  flex-direction: column;
  width: 41.25rem;
  padding: 2rem 2.375rem;
  border-radius: 20px;
  background: #fff;
}
.signup__form h1 {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767.98px) {
  .signup__form h1 {
    margin-bottom: 0.625rem;
  }
}
.signup__form h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .signup__form h2 {
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }
}
.signup__form > p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .signup__form > p {
    font-size: 0.6875rem;
  }
}
.signup__form .form {
  margin: 1.375rem 0 1.125rem;
}
@media screen and (max-width: 767.98px) {
  .signup__form .form {
    margin: 2.5rem 0 1.25rem;
  }
}
.signup__form__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
  text-align: center;
  font-size: 0.75rem;
}
.signup__form__button p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.signup__form__button a {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-decoration: underline;
}
@media screen and (max-width: 767.98px) {
  .signup__form__button {
    font-size: 0.625rem;
  }
}
@media screen and (max-width: 767.98px) {
  .signup__form {
    width: 100%;
    padding: 2.1875rem 1rem;
  }
}
@media screen and (max-width: 767.98px) {
  .signup {
    justify-content: normal;
  }
}

.signup-page .main {
  display: -ms-grid;
  display: grid;
  place-content: center;
}
@media screen and (max-width: 767.98px) {
  .signup-page .main {
    justify-content: normal;
  }
}

.login-page .signup__form {
  padding: 2.9375rem 2.375rem 3.25rem;
}
.login-page .signup__form h1 {
  margin-bottom: 0.875rem;
}
@media screen and (max-width: 767.98px) {
  .login-page .signup__form h1 {
    margin-bottom: 0.5rem;
  }
}
.login-page .signup__form .form {
  margin: 2.8125rem 0 1.125rem;
}
@media screen and (max-width: 767.98px) {
  .login-page .signup__form .form {
    margin: 2.8125rem 0 0.5rem;
  }
  .login-page .signup__form .form button {
    margin-top: 0.875rem;
  }
}
.login-page .signup__form__button a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (max-width: 767.98px) {
  .login-page .signup__form {
    padding: 3.125rem 0.9375rem;
  }
}

.passowrd-page .signup__form > * {
  max-width: 23.75rem;
  width: 100%;
  margin: 0 auto;
}
.passowrd-page .signup__form > h1 {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767.98px) {
  .passowrd-page .signup__form > h1 {
    margin-bottom: 2.75rem;
  }
}
.passowrd-page .signup__form > h2 {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 767.98px) {
  .passowrd-page .signup__form > h2 {
    margin-bottom: 1.375rem;
  }
}
.passowrd-page .signup__form > .form {
  margin-bottom: 4.25rem;
}
.passowrd-page .signup__form > .form input::-webkit-input-placeholder {
  text-align: center;
}
.passowrd-page .signup__form > .form input:-ms-input-placeholder {
  text-align: center;
}
.passowrd-page .signup__form > .form input::-ms-input-placeholder {
  text-align: center;
}
.passowrd-page .signup__form > .form input::placeholder {
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .passowrd-page .signup__form > .form {
    margin-bottom: 2.75rem;
  }
  .passowrd-page .signup__form > .form button {
    margin-top: 1.5rem;
  }
}

.new-password-page .signup__form h1 {
  max-width: 15.625rem;
  margin: 0 auto 1.375rem;
}
@media screen and (max-width: 767.98px) {
  .new-password-page .signup__form h1 {
    max-width: 100%;
    margin: 0 auto 1.125rem;
  }
}
.new-password-page .signup__form > h2 {
  max-width: 21.25rem;
  margin: 0 auto 1.125rem;
  font-size: 1.25rem;
  color: #00bb4e;
}
@media screen and (max-width: 767.98px) {
  .new-password-page .signup__form > h2 {
    max-width: 100%;
    margin-bottom: 0;
    font-size: 0.8125rem;
  }
}
.new-password-page .signup__form > .form {
  margin-bottom: 4.25rem;
}
.new-password-page .signup__form > .form .form-item label {
  margin-bottom: 0.625rem;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .new-password-page .signup__form > .form {
    margin-bottom: 2.75rem;
  }
  .new-password-page .signup__form > .form button {
    margin-top: 1.5rem;
  }
  .new-password-page .signup__form > .form .form-item label {
    margin-bottom: 1.25rem;
  }
}

.map .container {
  display: flex;
  gap: 2.25rem;
}
@media screen and (max-width: 767.98px) {
  .map .container {
    flex-direction: column;
    gap: 1rem;
  }
}
.map__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
  max-width: 25rem;
}
.map__item iframe {
  width: 100%;
  height: 25rem;
  border-radius: 20px;
}
.map__item h3 {
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 767.98px) {
  .map__item {
    gap: 0.75rem;
  }
  .map__item h3 {
    font-size: 1rem;
  }
}

.contact-page .main {
  display: -ms-grid;
  display: grid;
  place-content: center;
  justify-content: normal;
}
@media screen and (max-width: 767.98px) {
  .contact-page .main {
    justify-content: center;
    padding: 1.875rem 0;
  }
}

.section-error .container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
}
.section-error .container h1 {
  margin: 0;
  font-size: 4rem;
  color: #fff;
}
@media screen and (max-width: 767.98px) {
  .section-error .container {
    gap: 0.75rem;
    font-size: 1rem;
  }
  .section-error .container h1 {
    font-size: 2rem;
  }
}

.section-text .wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  padding: 1.625rem 2.1875rem;
  background: #fff;
  border-radius: 20px;
  font-size: 1.1875rem;
}
@media screen and (max-width: 767.98px) {
  .section-text .wrapper {
    padding: 4rem 1.5625rem;
    font-size: 0.8125rem;
  }
}

.cabinet__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.375rem;
  padding: 2.625rem 2.1875rem 1.875rem;
  background: #fff;
  border-radius: 20px;
}
.cabinet__wrapper h2 {
  margin: 0;
  font-size: 1.75rem;
}
.cabinet__wrapper .cabinet__form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.cabinet__wrapper .cabinet__form__item {
  display: flex;
  flex-direction: column;
}
.cabinet__wrapper .cabinet__form__item label {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #9d9d9d;
  -webkit-transform: translate(32px, 7px);
  transform: translate(32px, 7px);
}
.cabinet__wrapper .cabinet__form__item label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 1.375rem);
  height: 2px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.cabinet__wrapper .cabinet__form__item input {
  padding: 0.6875rem 2rem;
  border-radius: 20px;
  border: 1px solid #9d9d9d;
  background: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}
.cabinet__wrapper > button {
  align-self: flex-end;
  padding: 0.375rem 2.25rem 0.3125rem;
  background: #b9b9b9;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #696969;
}
@media screen and (max-width: 767.98px) {
  .cabinet__wrapper {
    padding: 0.875rem 1.5625rem 1.375rem;
  }
  .cabinet__wrapper h2 {
    font-size: 1rem;
  }
  .cabinet__wrapper .cabinet__form {
    gap: 1.125rem;
  }
  .cabinet__wrapper .cabinet__form__item label {
    font-size: 0.625rem;
    -webkit-transform: translate(15px, 7px);
    transform: translate(15px, 7px);
  }
  .cabinet__wrapper .cabinet__form__item label:before {
    width: calc(100% + 0.9375rem);
  }
  .cabinet__wrapper .cabinet__form__item input {
    padding: 0.4375rem 0.9375rem;
    font-size: 0.625rem;
  }
}

.cabinet__buttons {
  position: absolute;
  top: 52px;
  right: 32px;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.cabinet__buttons a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 3.125rem 0.8125rem;
  border-radius: 20px;
  background-color: #000;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .cabinet__buttons {
    display: none;
  }
}

.cabinet-page .main {
  padding: 2.125rem 0;
}
.cabinet-page .main .container {
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .cabinet-page .main {
    padding: 1.5625rem 0;
    justify-content: normal;
  }
}

.history__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.375rem;
  padding: 2.625rem 2.1875rem 1.875rem;
  background: #fff;
  border-radius: 20px;
}
.history__wrapper__items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 43.75rem;
}
@media screen and (max-width: 767.98px) {
  .history__wrapper__items {
    width: 100%;
    gap: 0.75rem;
  }
}
.history__wrapper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5625rem 0 1.5625rem 0.75rem;
  border-top: 1px solid #b8bdbf;
  border-bottom: 1px solid #b8bdbf;
}
.history__wrapper__item__status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.history__wrapper__item__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1.5rem;
  font-size: 0.9375rem;
}
.history__wrapper__item__info p:last-child {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.history__wrapper__item__content {
  display: none;
  position: relative;
  flex-direction: column;
  gap: 0.875rem;
  margin-top: 0.5rem;
}
.history__wrapper__item__content__result {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}
.history__wrapper__item__content__result button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: max-content;
  padding: 0.5rem 2.125rem;
  background: #000;
  border-radius: 20px;
  font-size: 1rem;
  color: #fff;
}
.history__wrapper__item__content__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1.25rem 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto 0.5rem auto 0.5rem auto 0.5rem auto;
  grid-template-rows: repeat(4, auto);
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 0.5rem;
}
.history__wrapper__item__content__item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.history__wrapper__item__content__item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.history__wrapper__item__content__item > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.history__wrapper__item__content__item > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.history__wrapper__item__content__item > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.history__wrapper__item__content__item > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.history__wrapper__item__content__item > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.history__wrapper__item__content__item > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.history__wrapper__item__content__item__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  -o-object-fit: cover;
  object-fit: cover;
}
.history__wrapper__item__content__item__img img {
  height: 100%;
}
.history__wrapper__item__content__item__info {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.history__wrapper__item__content__item__info p:last-child {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.history__wrapper__item__content__item__category {
  grid-column: 2/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.history__wrapper__item__content__item__price {
  grid-column: 2/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.history__wrapper__item__content__item__price p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: max-content;
  padding: 0.625rem 0.9375rem;
  background: #000;
  border-radius: 20px;
  font-size: 1rem;
  color: #fff;
}
.history__wrapper__item__content__item__ingridients {
  grid-column: 2/-1;
  grid-row: 4/-1;
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
}
.history__wrapper__item__content.isOpen {
  display: flex;
}
.history__wrapper__item__details {
  position: absolute;
  bottom: 20px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.history__wrapper__item__details.hide {
  bottom: 0;
}
@media screen and (max-width: 767.98px) {
  .history__wrapper__item {
    gap: 0;
    padding: 0.9375rem 0 1.5625rem 0.3125rem;
  }
  .history__wrapper__item__status {
    font-size: 0.75rem;
  }
  .history__wrapper__item__info {
    font-size: 0.75rem;
  }
  .history__wrapper__item__info p:last-child {
    font-size: 0.75rem;
  }
  .history__wrapper__item__content {
    gap: 1.125rem;
  }
  .history__wrapper__item__content__result {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
  }
  .history__wrapper__item__content__result button {
    font-size: 0.8125rem;
  }
  .history__wrapper__item__content__item {
    -ms-grid-columns: 1fr 0.375rem 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100px auto auto auto;
    grid-template-rows: 100px auto auto auto;
    -webkit-column-gap: 0.375rem;
    -moz-column-gap: 0.375rem;
    column-gap: 0.375rem;
  }
  .history__wrapper__item__content__item > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .history__wrapper__item__content__item > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .history__wrapper__item__content__item > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .history__wrapper__item__content__item > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .history__wrapper__item__content__item > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .history__wrapper__item__content__item > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .history__wrapper__item__content__item > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .history__wrapper__item__content__item > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .history__wrapper__item__content__item__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .history__wrapper__item__content__item__info {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 1rem;
  }
  .history__wrapper__item__content__item__category {
    grid-column: 1/-1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    font-size: 0.625rem;
  }
  .history__wrapper__item__content__item__price {
    grid-column: 2/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .history__wrapper__item__content__item__price p {
    padding: 0.3125rem 0.625rem;
    font-size: 0.75rem;
  }
  .history__wrapper__item__content__item__ingridients {
    grid-column: 1/-1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    font-size: 0.8125rem;
  }
  .history__wrapper__item__details {
    bottom: 5px;
    right: 0;
    gap: 0.25rem;
    font-size: 0.625rem;
  }
  .history__wrapper__item__details.hide {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.product__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.375rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1.375rem auto 1.375rem auto;
  grid-template-rows: repeat(3, auto);
  gap: 1.375rem;
  padding: 3.75rem 2.1875rem 3.5rem;
  background: #fff;
  border-radius: 20px;
}

.product__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product__wrapper > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product__wrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product__wrapper > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.product__wrapper > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.product__wrapper__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 25px;
  box-shadow: 0px 0px 14.4px 2px rgba(0, 0, 0, 0.61);
  overflow: hidden;
}
.product__wrapper__image img {
  max-width: 100%;
  border-radius: 20px;
}
.product__wrapper__info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
}
.product__wrapper__info h2 {
  font-size: 2.5rem;
}
.product__wrapper__info > p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.product__wrapper__info__compound {
  display: flex;
  justify-content: center;
  margin: 1.75rem 0 1.25rem;
  padding: 0.6875rem 1.25rem;
  font-size: 1.5rem;
  border-top: 1px solid #b8bdbf;
  border-bottom: 1px solid #b8bdbf;
}
.product__wrapper__info__ingredients {
  flex: 1;
  padding: 1.125rem 1.625rem;
  border-radius: 20px;
  border: 1px solid #b8bdbf;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.product__wrapper__price {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: flex;
  gap: 0.75rem;
}
.product__wrapper__price__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product__wrapper__price__item p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6875rem 1.25rem;
  background: #000;
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
}
.product__wrapper__price__item .btn {
  min-width: auto;
}
@media screen and (max-width: 767.98px) {
  .product__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1.125rem auto 1.125rem auto;
    grid-template-rows: repeat(3, auto);
    gap: 1.125rem;
    padding: 1rem 1.5625rem 0.875rem;
  }
  .product__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .product__wrapper > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .product__wrapper > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .product__wrapper__image {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .product__wrapper__info {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .product__wrapper__info h2 {
    font-size: 1.25rem;
  }
  .product__wrapper__info > p {
    font-size: 0.8125rem;
  }
  .product__wrapper__info__compound {
    margin: 0.6875rem 0 0.625rem;
    padding: 0.3125rem 1.25rem;
    font-size: 0.8125rem;
  }
  .product__wrapper__info__ingredients {
    min-height: 4.875rem;
    padding: 0.6875rem 0.9375rem;
    font-size: 0.625rem;
  }
  .product__wrapper__price {
    grid-column: 1/-1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    gap: 0.3125rem;
  }
  .product__wrapper__price__item {
    gap: 0.5rem;
  }
  .product__wrapper__price__item p {
    padding: 0.375rem 0.875rem;
    font-size: 0.6875rem;
  }
}

.main {
  flex-grow: 1;
  padding-bottom: 3.5rem;
}
@media screen and (max-width: 767.98px) {
  .main {
    padding-bottom: 1rem;
  }
}

.hero {
  padding: 1.125rem 0;
}
.hero .container {
  display: flex;
  gap: 1.0625rem;
}
.hero__logo {
  flex: 0 1 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
}
.hero__logo img {
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 767.98px) {
  .hero__logo {
    display: none;
  }
}

.categories {
  padding: 1.125rem 0 1.25rem;
  background: #fff;
  border-radius: 0 0 25px 25px;
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.125rem;
  padding: 0 0.9375rem;
}
@media screen and (max-width: 767.98px) {
  .categories__list {
    overflow-y: auto;
    flex-wrap: nowrap;
    padding: 0;
  }
}
.categories__item {
  flex: 1;
}
.categories__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 6.375rem;
  height: 4.375rem;
  padding: 0.75rem;
  background: #000;
  border-radius: 20px;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
}
.categories__item a:hover, .categories__item a.active {
  background: #f00;
}
@media screen and (max-width: 767.98px) {
  .categories__item a {
    height: 100%;
    padding: 0.5rem 1.25rem 0.5625rem;
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 767.98px) {
  .categories {
    padding: 0.8125rem 0 0.5rem;
    border-radius: 0 0 20px 20px;
  }
}

.section {
  width: 100%;
  padding-top: 1.75rem;
}
.section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1.0625rem;
  background-color: #fff;
  border-radius: 20px;
  font-size: 2rem;
  color: #000;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .section h2 {
    font-size: 1.5rem;
    padding: 0.5rem 1.0625rem;
  }
}
.section__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
  gap: 1.6875rem 0.9375rem;
  margin-top: 1.625rem;
}
@media screen and (max-width: 767.98px) {
  .section__items {
    grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
    gap: 0.75rem 0.625rem;
    margin-top: 1rem;
  }
}
.section__item {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.section__item__img {
  position: relative;
}
.section__item__img img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.section__item__img img.section__item__img__notice {
  position: absolute;
  bottom: 0;
  left: 1.125rem;
  width: 2.5rem;
  height: 1.4375rem;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
@media screen and (max-width: 767.98px) {
  .section__item__img img {
    height: auto;
  }
}
.section__item__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.section__item__info__title {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  color: #fff;
}
.section__item__info__title h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #fff;
}
.section__item__info__title p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
}
.section__item__info__price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  background: #fff;
  border-radius: 20px;
  font-size: 1rem;
  color: #000;
}
@media screen and (max-width: 767.98px) {
  .section__item__info {
    flex-direction: column;
    gap: 0.375rem;
  }
  .section__item__info__title {
    gap: 0.3125rem;
  }
  .section__item__info__title h3 {
    font-size: 0.9375rem;
  }
  .section__item__info__title p {
    font-size: 0.625rem;
  }
  .section__item__info__price {
    padding: 0.3125rem 0.75rem;
    font-size: 0.8125rem;
  }
}
.section__item .btn {
  margin-top: auto;
}
.section__item--big .section__item__info__price {
  padding: 0.5rem 1.375rem;
}
.section__item__count {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
  padding: 0.625rem 1.5rem 0.5625rem;
  background: #fff;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #000;
  transition: all 0.3s ease;
}
.section__item__count__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  background: #000;
  border-radius: 50%;
  color: #fff;
}
.section__item__count__btn:first-child p {
  height: 1.125rem;
}
.section__item__count__btn:last-of-type p {
  height: 1.75rem;
}
.section__item__count__btn:hover {
  background: #f00;
}
.section__item.active .btn {
  display: none;
}
.section__item.active .section__item__count {
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .section {
    padding-top: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  font-family: "RobotoCondensed Bold", sans-serif;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
}