@font-face {
  font-family: "Helios";
  src: url("../fonts/Helios.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/InterRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Black";
  src: url("../fonts/InterBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
section > .container h2 {
  font-family: "Ubuntu Medium", sans-serif;
  font-size: 0.875rem;
}
@media (min-width: 1200px) {
  section > .container h2 {
    font-size: 1rem;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Helios", sans-serif;
}