@use "settings" as *;

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

select {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: torem(16) torem(24) torem(15);
  background: $white;
  border-radius: $borderMain;
  font-size: torem(16);
  color: $black;
}
