@use "settings" as *;

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

select {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: torem(15) torem(24) torem(14);
  background: $white;
  border-radius: $borderMain;
  font-size: torem(16);
  color: $black;
  transition: all 0.3s ease;

  &:hover {
    background: $red;
    color: $white;
  }
}

.up {
  position: fixed;
  right: torem(30);
  bottom: torem(30);
  display: none;
  z-index: 1000;

  &.sticky {
    display: block;
  }
}

.cart-fixed {
  position: fixed;
  right: torem(115);
  bottom: torem(50);
  display: none;
  font-size: torem(20);
  transition: all 0.3s ease;
  color: $white;
  z-index: 1000;

  &.sticky {
    display: flex;
    align-items: center;
    gap: torem(5);
  }
}
