@use "settings" as *;

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

select {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: torem(15) torem(24) torem(14);
  background: $white;
  border-radius: $borderMain;
  font-size: torem(16);
  color: $black;
  transition: all 0.3s ease;

  &:hover {
    background: $red;
    color: $white;
  }

  @include sm-breakpoint {
    padding: torem(6) torem(21);
    font-size: torem(12);
  }
}

.up {
  position: fixed;
  right: torem(30);
  bottom: torem(30);
  display: none;
  z-index: 1000;

  &.sticky {
    display: block;
  }
}

.cart-fixed {
  position: fixed;
  right: torem(115);
  bottom: torem(50);
  display: none;
  font-size: torem(20);
  transition: all 0.3s ease;
  color: $white;
  z-index: 1000;

  &.sticky {
    display: flex;
    align-items: center;
    gap: torem(5);
  }
}

h1 {
  margin: 0;
  font-size: torem(32);
  text-align: center;

  @include sm-breakpoint {
    font-size: torem(24);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: torem(18);

  &-item {
    display: flex;
    flex-direction: column;
    gap: torem(5);

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label {
      flex: 1;
      padding-left: torem(12);
      font-size: torem(20);
    }

    input {
      width: 100%;
      padding: torem(10) torem(16);
      border: 1px solid #9d9d9d;
      border-radius: $borderMain;
      background: $white;
      font-size: torem(12);

      &::placeholder {
        font-family: "Inter Regular", sans-serif;
        font-size: torem(12);
        color: #b9b9b9;
      }

      @include sm-breakpoint {
        font-size: torem(11);

        &::placeholder {
          font-size: torem(11);
        }
      }
    }

    &.error {
      input {
        border-color: $red;
      }
    }

    &__error {
      flex: 1;
      font-family: "Inter Regular", sans-serif;
      font-size: torem(12);
      color: $red;
      text-align: right;

      @include sm-breakpoint {
        font-size: torem(10);
      }
    }
  }

  button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: torem(274);
    padding: torem(13) torem(31) torem(12);
    background: $black;
    border-radius: $borderMain;
    font-size: torem(20);
    line-height: 1;
    color: $white;
    transition: all 0.3s ease;

    &:hover {
      background: $red;
      color: $white;
    }

    @include sm-breakpoint {
      min-width: torem(182);
      padding: torem(11) torem(30) torem(12);
      font-size: torem(13);
    }
  }

  @include sm-breakpoint {
    &-item {
      gap: torem(2);

      label {
        font-size: torem(14);
      }
    }
  }
}
