@use "settings" as *;

.container {
  max-width: torem(1370);
  width: 100%;
  margin: 0 auto;
  padding: 0 torem(15);
}

section {
  > .container {
    h2 {
    }
  }
}

.header {
  padding: torem(25) 0;
  border-radius: 0 0 $borderMain $borderMain;
  background: $white;

  .container {
    display: flex;
    align-items: center;
    gap: torem(40);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: torem(5);
    font-size: torem(20);
    color: $black;
    transition: all 0.3s ease;

    &:last-child {
      margin-right: torem(40);
    }

    &:hover {
      color: $red;

      svg {
        path {
          stroke: $red;
        }
      }
    }
  }

  &__logo {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: torem(10);
      margin-right: torem(8);
      padding: torem(6) torem(44);
      background-color: $black;
      border-radius: $borderMain;
      font-size: torem(36);
      line-height: 0.9;
      color: $white;
    }
  }

  &__lang {
    flex: 1;
  }

  &__burger {
    all: unset;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    width: torem(18);
    cursor: pointer;
    z-index: 120;

    span {
      width: 100%;
      height: 3px;
      border-radius: $borderMain;
      background-color: $black;
      transition: all 0.3s ease;
      transform-origin: center;
    }
  }

  &__mobile {
    display: none;
  }

  &.active {
    position: relative;

    .header {
      &__burger {
        span {
          &:first-child {
            transform: translateY(5px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
            transform: translateX(100%);
          }

          &:last-child {
            transform: translateY(-5px) rotate(-45deg);
          }
        }
      }

      &__mobile {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: torem(10);
        width: 100%;
        height: 100dvh;
        padding: torem(60) torem(38) torem(50);
        border-radius: 0px $borderMain $borderMain 0px;
        background: $white;
        z-index: 100;

        a {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: torem(13) torem(20) torem(12);
          border-radius: $borderMain;
          background-color: $black;
          font-size: torem(20);
          color: $white;
          text-align: center;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: torem(10);
          margin: torem(15) 0;
          padding: torem(24) 0;
          border-top: 1px solid $borderColor;
          border-bottom: 1px solid $borderColor;
        }

        &__contact {
          display: flex;
          flex-direction: column;
          gap: torem(12);

          a {
            padding: 0;
            background: transparent;
            font-size: torem(16);
            color: $black;
          }
        }

        &__lang {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: torem(7);
          padding: torem(11) torem(30) torem(8);
          border-radius: $borderMain;
          background-color: $black;
          list-style: none;

          select {
            font-size: torem(20);
            color: $white;
          }
        }
      }
    }
  }

  @include md-breakpoint {
    padding: torem(15) 0;

    .container {
      gap: torem(25);
    }

    &__item {
      font-size: torem(16);

      &:last-child {
        margin-right: 0;
      }
    }

    &__logo {
      a {
        padding: torem(6) torem(30);
        font-size: torem(30);
      }
    }
  }

  @include sm-breakpoint {
    .container {
      gap: torem(20);
    }

    &__item {
      p {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__lang {
      display: none;
    }

    &__logo {
      flex: 1;

      a {
        margin: 0 auto;
        padding: torem(4) torem(20);
        font-size: torem(20);

        p {
          display: block;
        }
      }
    }

    &__profile {
      margin-left: auto;
    }

    &__burger {
      display: flex;
    }
  }
}

.footer {
  padding: torem(20) 0 torem(30);
  border-radius: $borderMain $borderMain 0 0;
  background: $white;

  @include sm-breakpoint {
    padding: torem(20) 0 torem(18);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: torem(20);
    padding: 0 torem(30);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: torem(5);
    font-size: torem(24);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: torem(12);
    font-size: torem(32);

    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(10);

      @include sm-breakpoint {
        font-size: torem(16);
      }
    }

    &__address {
      display: flex;
      flex-wrap: wrap;
      gap: torem(20);
      margin-top: torem(5);

      font-size: torem(13);

      p {
        &:not(:last-child) {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            width: 3px;
            height: 100%;
            background: $black;
            transform: translate(50%, -50%);
          }
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: torem(10);

    a {
      display: flex;
      align-items: center;
      gap: torem(5);
      font-size: torem(24);
    }
  }

  @include sm-breakpoint {
    padding: torem(20) 0 torem(30);

    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: torem(30);
      padding: 0 torem(15);
    }

    &__links {
      display: none;
    }

    &__info {
      flex-direction: row;
      align-items: flex-end;
      gap: torem(20);

      &__address {
        flex: 1;
        flex-direction: column;
        gap: torem(5);
        margin-top: 0;
        text-align: right;

        p {
          &:not(:last-child) {
            &:after {
              display: none;
            }
          }
        }
      }
    }

    &__social {
      display: none;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
}

.signup {
  padding: torem(25) 0 torem(10);

  &__form {
    display: flex;
    flex-direction: column;
    width: torem(660);
    padding: torem(32) torem(38);
    border-radius: $borderMain;
    background: $white;

    h1 {
      margin-bottom: torem(24);

      @include sm-breakpoint {
        margin-bottom: torem(10);
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: torem(12);
      font-size: torem(20);
      text-align: center;

      @include sm-breakpoint {
        margin-bottom: torem(16);
        font-size: torem(14);
      }
    }

    > p {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: torem(12);
      text-align: center;

      @include sm-breakpoint {
        font-size: torem(11);
      }
    }

    .form {
      margin: torem(22) 0 torem(18);

      @include sm-breakpoint {
        margin: torem(40) 0 torem(20);
      }
    }

    &__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(5);
      text-align: center;
      font-size: torem(12);

      p {
        font-family: "Inter", sans-serif;
        font-weight: 700;
      }

      a {
        font-family: "Inter", sans-serif;
        font-weight: 900;
        text-decoration: underline;
      }

      @include sm-breakpoint {
        font-size: torem(10);
      }
    }

    @include sm-breakpoint {
      width: 100%;

      padding: torem(35) torem(16);
    }
  }

  @include sm-breakpoint {
    justify-content: normal;
  }
}

.signup-page {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm-breakpoint {
      justify-content: normal;
    }
  }
}

.login-page {
  .signup {
    &__form {
      padding: torem(47) torem(38) torem(52);

      h1 {
        margin-bottom: torem(14);

        @include sm-breakpoint {
          margin-bottom: torem(8);
        }
      }

      .form {
        margin: torem(45) 0 torem(18);

        @include sm-breakpoint {
          margin: torem(45) 0 torem(8);

          button {
            margin-top: torem(14);
          }
        }
      }

      &__button {
        a {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          text-decoration: none;
        }
      }

      @include sm-breakpoint {
        padding: torem(50) torem(15);
      }
    }
  }
}

.passowrd-page {
  .signup__form {
    > * {
      max-width: torem(380);
      width: 100%;
      margin: 0 auto;
    }

    > h1 {
      margin-bottom: torem(40);

      @include sm-breakpoint {
        margin-bottom: torem(44);
      }
    }

    > h2 {
      margin-bottom: torem(20);

      @include sm-breakpoint {
        margin-bottom: torem(22);
      }
    }

    > .form {
      margin-bottom: torem(68);

      input {
        &::placeholder {
          text-align: center;
        }
      }

      @include sm-breakpoint {
        margin-bottom: torem(44);

        button {
          margin-top: torem(24);
        }
      }
    }
  }
}

.new-password-page {
  .signup__form {
    h1 {
      max-width: torem(250);
      margin: 0 auto torem(22);

      @include sm-breakpoint {
        max-width: 100%;
        margin: 0 auto torem(18);
      }
    }

    > h2 {
      max-width: torem(340);
      margin: 0 auto torem(18);
      font-size: torem(20);
      color: $green;

      @include sm-breakpoint {
        max-width: 100%;
        margin-bottom: 0;
        font-size: torem(13);
      }
    }

    > .form {
      margin-bottom: torem(68);

      .form-item {
        label {
          margin-bottom: torem(10);
          padding: 0;
          text-align: center;
        }
      }

      @include sm-breakpoint {
        margin-bottom: torem(44);

        button {
          margin-top: torem(24);
        }

        .form-item {
          label {
            margin-bottom: torem(20);
          }
        }
      }
    }
  }
}

.map {
  .container {
    display: flex;
    gap: torem(36);

    @include sm-breakpoint {
      flex-direction: column;
      gap: torem(16);
    }
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: torem(38);
    max-width: torem(400);

    iframe {
      width: 100%;
      height: torem(400);
      border-radius: 20px;
    }

    h3 {
      margin: 0;
      color: $white;
      font-size: torem(24);
      font-weight: 700;
    }

    @include sm-breakpoint {
      gap: torem(12);

      h3 {
        font-size: torem(16);
      }
    }
  }
}

.contact-page {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: normal;
    padding: torem(34) 0;

    @include sm-breakpoint {
      justify-content: center;
      padding: torem(30) 0;
    }
  }
}

.section-error {
  .container {
    display: flex;
    flex-direction: column;
    gap: torem(18);
    font-size: torem(36);
    color: $white;
    text-align: center;

    h1 {
      margin: 0;
      font-size: torem(64);
      color: $white;
    }

    @include sm-breakpoint {
      gap: torem(12);
      font-size: torem(16);

      h1 {
        font-size: torem(32);
      }
    }
  }
}

.section-text {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: torem(14);
    padding: torem(26) torem(35);
    background: $white;
    border-radius: $borderMain;
    font-size: torem(19);

    @include sm-breakpoint {
      padding: torem(64) torem(25);
      font-size: torem(13);
    }
  }
}

.cabinet__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: torem(22);
  padding: torem(42) torem(35) torem(30);
  background: $white;
  border-radius: $borderMain;

  h2 {
    margin: 0;
    font-size: torem(28);
  }

  > button {
    align-self: flex-end;
    padding: torem(6) torem(36) torem(5);
    background: #b9b9b9;
    border-radius: $borderMain;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: torem(12);
    color: #696969;
  }

  @include sm-breakpoint {
    padding: torem(14) torem(25) torem(22);

    h2 {
      font-size: torem(16);
    }
  }
}

.cabinet__buttons {
  position: absolute;
  top: 52px;
  right: 32px;
  display: flex;
  flex-direction: column;
  gap: torem(14);

  a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: torem(12) torem(50) torem(13);
    border-radius: $borderMain;
    background-color: $black;
    font-size: torem(20);
    color: $white;
    text-align: center;
  }

  @include sm-breakpoint {
    display: none;
  }
}

.cabinet-page {
  .main {
    padding: torem(34) 0;

    .container {
      position: relative;
    }

    @include sm-breakpoint {
      padding: torem(25) 0;
      justify-content: normal;
    }
  }
}

.cabinet__form {
  display: flex;
  flex-direction: column;
  gap: torem(28);
  width: torem(334);
  margin: 0 auto;

  &__item {
    display: flex;
    flex-direction: column;

    label {
      position: relative;
      width: fit-content;
      font-family: "Inter", sans-serif;
      font-size: torem(12);
      font-weight: 500;
      color: #9d9d9d;
      transform: translate(32px, 7px);

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + torem(22));
        height: 4px;
        background: $white;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

    input {
      padding: torem(11) torem(32);
      border-radius: $borderMain;
      border: 1px solid #9d9d9d;
      background: $white;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: torem(14);
    }
  }

  @include sm-breakpoint {
    gap: torem(18);
    width: 100%;

    &__item {
      label {
        font-size: torem(10);
        transform: translate(15px, 7px);

        &:before {
          width: calc(100% + torem(15));
        }
      }

      input {
        padding: torem(7) torem(15);
        font-size: torem(10);
      }
    }
  }
}

.history__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: torem(22);
  padding: torem(42) torem(35) torem(30);
  background: $white;
  border-radius: $borderMain;

  &__items {
    display: flex;
    flex-direction: column;
    gap: torem(20);
    width: torem(700);

    @include sm-breakpoint {
      width: 100%;
      gap: torem(12);
    }

    &__result {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(25);
      margin-top: torem(25);

      p {
        font-size: torem(24);
      }

      &__buttons {
        display: flex;
        gap: torem(36);

        .btn {
          min-width: torem(232);
          padding: torem(7) torem(20);
        }
      }

      @include sm-breakpoint {
        flex-direction: column;
        gap: torem(12);
        margin-top: torem(18);

        p {
          font-size: torem(16);
        }

        &__buttons {
          flex-direction: column;
          gap: torem(8);

          .btn {
            padding: torem(12) torem(20);
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: torem(8);
    padding: torem(25) 0 torem(25) torem(12);
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    &__status {
      display: flex;
      align-items: center;
      gap: torem(8);
      font-size: torem(20);
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: torem(8);
      padding-left: torem(24);
      font-size: torem(15);

      p {
        &:last-child {
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: torem(14);
          text-transform: capitalize;
        }
      }
    }

    &__content {
      display: none;
      position: relative;
      flex-direction: column;
      gap: torem(14);
      margin-top: torem(8);

      &__result {
        display: flex;
        align-items: center;
        gap: torem(20);
        margin-top: torem(4);
        font-size: torem(20);

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          padding: torem(8) torem(34);
          background: $black;
          border-radius: $borderMain;
          font-size: torem(16);
          color: $white;
        }
      }

      &__item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(4, auto);
        column-gap: torem(20);
        row-gap: torem(8);

        &__img {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
          object-fit: cover;

          img {
            height: 100%;
          }
        }

        &__info {
          grid-column: 2 / -1;
          grid-row: 1 / 2;
          display: flex;
          align-items: center;
          gap: torem(8);
          font-size: torem(20);

          p {
            &:last-child {
              font-family: "Inter", sans-serif;
              font-size: torem(16);
              font-weight: 500;
            }
          }
        }

        &__category {
          grid-column: 2 / -1;
          grid-row: 2 / 3;
          font-family: "Inter", sans-serif;
          font-size: torem(16);
          font-weight: 500;
        }

        &__price {
          grid-column: 2 / -1;
          grid-row: 3 / 4;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            padding: torem(10) torem(15);
            background: $black;
            border-radius: $borderMain;
            font-size: torem(16);
            color: $white;
          }
        }

        &__ingridients {
          grid-column: 2 / -1;
          grid-row: 4/-1;
          font-family: "Inter", sans-serif;
          font-size: torem(13);
          font-weight: 500;
        }
      }

      &.isOpen {
        display: flex;
      }
    }

    &__details {
      position: absolute;
      bottom: 20px;
      right: 8px;
      display: flex;
      align-items: center;
      gap: torem(16);
      cursor: pointer;

      &.hide {
        bottom: 0;
      }
    }

    @include sm-breakpoint {
      gap: 0;
      padding: torem(15) 0 torem(25) torem(5);

      &__status {
        font-size: torem(12);
      }

      &__info {
        font-size: torem(12);

        p {
          &:last-child {
            font-size: torem(12);
          }
        }
      }

      &__content {
        gap: torem(18);

        &__result {
          flex-direction: column-reverse;
          align-items: center;
          gap: torem(8);
          font-size: torem(16);

          button {
            font-size: torem(13);
          }
        }

        &__item {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 100px auto auto auto;
          column-gap: torem(6);

          &__img {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }

          &__info {
            grid-column: 1 / -1;
            grid-row: 2/3;
            font-size: torem(16);
          }

          &__category {
            grid-column: 1 / -1;
            grid-row: 3/4;
            font-size: torem(10);
          }

          &__price {
            grid-column: 2 / -1;
            grid-row: 1/2;
            align-self: end;

            p {
              padding: torem(5) torem(10);
              font-size: torem(12);
            }
          }

          &__ingridients {
            grid-column: 1 / -1;
            grid-row: 4/5;
            font-size: torem(13);
          }
        }
      }

      &__details {
        bottom: 5px;
        right: 0;
        gap: torem(4);
        font-size: torem(10);

        &.hide {
          transform: translateY(100%);
        }
      }
    }

    // cart
    &__product {
      display: flex;
      gap: torem(20);
      max-width: torem(500);
      margin: 0 torem(50);

      > div {
        flex: 1;
      }

      &__image {
        img {
          height: auto;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;

        h3 {
          margin: 0;
          font-size: torem(20);
        }

        > p {
          &:first-of-type {
            font-family: "Inter", sans-serif;
            font-size: torem(12);
            font-weight: 500;
          }

          &:last-of-type {
            font-family: "Inter", sans-serif;
            font-size: torem(13);
            font-weight: 500;
            text-transform: capitalize;
          }
        }

        &__price {
          display: flex;
          align-items: center;
          margin: torem(8) 0;

          > p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: torem(10) torem(15);
            background: $black;
            border-radius: $borderMain;
            font-size: torem(16);
            line-height: 1;
            color: $white;
            text-align: center;
            transition: all 0.3s ease;
          }

          .section__item__count {
            display: flex;
          }
        }
      }

      &:not(:last-of-type) {
        margin-bottom: torem(6);
      }

      @include sm-breakpoint {
        flex-direction: column;
        max-width: 100%;
        margin: 0 torem(20);

        &:not(:last-of-type) {
          margin-bottom: torem(20);
        }
      }
    }

    + h2 {
      margin: torem(16) 0 torem(12);
      font-size: torem(20);
      text-align: center;
    }
  }

  &.cart__wrapper {
    gap: 0;

    .history__wrapper__items {
      gap: 0;
    }

    h1 {
      margin-bottom: torem(25);
    }
  }
}

.product {
  .container {
    background: $white;
    border-radius: $borderMain;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: torem(22);
    max-width: torem(1000);
    margin: 0 auto;
    padding: torem(60) torem(35) torem(56);

    &__image {
      grid-column: 1/2;
      grid-row: 1/3;
      border-radius: $borderSecondary;

      box-shadow: 0px 0px 14.4px 2px rgba(0, 0, 0, 0.61);
      overflow: hidden;

      img {
        max-width: 100%;
        border-radius: $borderMain;
      }
    }

    &__info {
      grid-column: 2/3;
      grid-row: 1/-1;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: torem(40);
      }

      > p {
        font-family: "Inter", sans-serif;
        font-size: torem(24);
        font-weight: 500;
      }

      &__compound {
        display: flex;
        justify-content: center;
        margin: torem(28) 0 torem(20);
        padding: torem(11) torem(20);
        font-size: torem(24);
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
      }

      &__ingredients {
        flex: 1;
        padding: torem(18) torem(26);
        border-radius: $borderMain;
        border: 1px solid $borderColor;
        font-family: "Inter", sans-serif;
        font-size: torem(16);
        font-weight: 500;
      }
    }

    &__price {
      grid-column: 1/2;
      grid-row: 3/4;
      display: flex;
      gap: torem(12);

      &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: torem(16);

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: torem(11) torem(20);
          background: $black;
          border-radius: $borderMain;
          font-size: torem(24);
          line-height: 1;
          color: $white;
          text-align: center;
          transition: all 0.3s ease;
        }

        .btn {
          min-width: auto;
        }
      }
    }

    @include sm-breakpoint {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      gap: torem(18);
      padding: torem(16) torem(25) torem(14);

      &__image {
        grid-column: 1/-1;
        grid-row: 1/2;
      }

      &__info {
        grid-column: 1/-1;
        grid-row: 2/3;

        h2 {
          font-size: torem(20);
        }

        > p {
          font-size: torem(13);
        }

        &__compound {
          margin: torem(11) 0 torem(10);
          padding: torem(5) torem(20);
          font-size: torem(13);
        }

        &__ingredients {
          min-height: torem(78);
          padding: torem(11) torem(15);
          font-size: torem(10);
        }
      }

      &__price {
        grid-column: 1/-1;
        grid-row: 3/4;
        gap: torem(5);

        &__item {
          gap: torem(8);

          p {
            padding: torem(6) torem(14);
            font-size: torem(11);
          }
        }
      }
    }
  }
}

.delivery__time {
  display: flex;
  justify-content: center;
  gap: torem(14);

  &__item {
    display: flex;
    flex-direction: column;
    gap: torem(14);

    .btn {
      min-width: torem(232);
      padding: torem(7) torem(20);
      font-size: torem(20);

      &:hover {
        background: $green;
      }

      &.active {
        background: $green;
      }
    }

    select {
      min-width: torem(232);
      padding: torem(7) torem(20);
      border-radius: $borderMain;
      border: 1px solid $borderColor;
      font-family: "Inter", sans-serif;
      font-size: torem(14);
      font-weight: 500;
      text-align: center;
    }
  }

  @include sm-breakpoint {
    gap: torem(8);

    &__item {
      flex: 1;

      .btn {
        min-width: auto;
        font-size: torem(16);
      }

      select {
        min-width: auto;
      }
    }
  }
}

.delivery__payment {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__text {
    position: absolute;
    top: 50%;
    left: calc(50% - 8px);
    display: none;
    max-width: torem(232);
    padding: torem(8) torem(26);
    border-radius: $borderMain;
    border: 1px solid #d9d9d9;
    background: #d9d9d9;
    font-size: torem(11);
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__notice {
    &:hover {
      + p {
        display: block;
      }
    }
  }

  @include sm-breakpoint {
    gap: torem(8);
  }
}
