@use "settings" as *;

.main {
  flex-grow: 1;
}

.hero {
  padding: torem(18) 0;

  .container {
    display: flex;
    gap: torem(17);
  }

  &__logo {
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: $borderMain;

    img {
      object-fit: contain;
    }

    @include sm-breakpoint {
      display: none;
    }
  }
}
